<div class="main-container">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="dashboard-page-head">
                    <div class="page-header">
                        <h1>Wedding Dresses Enquiries</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 my-listing-dashboard">
                <table class="table">
                    <theader class="table-head">
                        <tr>
                            <th>
                                <div><span class="th-title">First Name</span></div>
                            </th>
                            <th>
                                <div><span class="th-title">Lastname</span></div>
                            </th>
                            <th>
                                <div><span class="th-title">Mobile</span></div>
                            </th>
                            <th>
                                <div><span class="th-title">Status</span></div>
                            </th>
                            <th>
                                <div><span class="th-title">Description</span></div>
                            </th>
                            <th>
                                <div><span class="th-title">Action</span></div>
                            </th>
                        </tr>
                    </theader>
                    <tbody>
                        <% for(var enquiry of enquiries ){ %>
                            <tr>
                                <td>
                                    <%= enquiry.firstname%>
                                </td>
                                <td><%= enquiry.lastname%></td>
                                <td><%= enquiry.mobile%></td>
                                <td><%= enquiry.status%></td>
                                <td><%= enquiry.description%></td>
                                <td>
                                    <% if(enquiry.status !=="Resolved"){%>
                                    <div class="col-md-2 listing-action">
                                        <a href="#" onclick="addResponse('<%=enquiry._id%>','<%=enquiry.lastname%>')" class="btn btn-primary  btn-xs">Respond</a> 
                                    </div>
                                    <%}else{%>
                                        <div class="col-md-2 listing-action">
                                            <a href="javascript:void(0)" disabled class="btn btn-primary  btn-xs">Respond</a> 
                                        </div>
                                    <%}%>
                                </td>
                            </tr>
                        <%}%>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
